@*Layout is the skeleton of the page,so it content head,body both*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>TopSolarQuotes.co.uk  | Compare Top UK installers and best deals! Get a free quote</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--images-->
    <link rel="icon" href="../../Content/images/favicon.ico" type="image/x-icon" />
    
    <!--Stylesheet-->
    <link href="~/Content/css/stylesheet.css" rel="stylesheet" />
    <!--font-->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <!--bootstrap-->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!--header-->
    <link href="~/Content/css/headercssnew.css" rel="stylesheet" type="text/css" />
    <!--sitenew-->
    <link href="~/Content/css/sitenew.css" rel="stylesheet" type="text/css" />
    <!--Filterstyle-->
    <link href="~/Content/css/FilterStyle.css" rel="stylesheet" type="text/css" />
    <!--footer_css-->
    <link href="~/Content/css/Footer.css" rel="stylesheet" />
   
    <link href="~/Content/Popup/FooterPopup.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/bundles/modernizr?v=wBEWDufH_8Md-Pbioxomt90vm6tJN2Pyy9u9zHtWsPo1"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    @*Header Start*@
    <div class="header">
        <div class="container">
            <div class="container-fluid custome-header">
                <div class="row">

                    <div class="col-lg-12 logo ">
                        <a href="/">
                            <img src="../../Content/images/solarlogonew1.png" class="img " />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Header end-->
    
    @RenderBody()

    @*Footer Start*@

    <div class="footer">
        <div class="container">
            <div class="container-fluid">
                <div class="row footer-row">

                    <div class="footer-anchor mob-hide desktop">
                        <a href="/about-us" target="_blank">About Us</a>
                        <a href="/contact-us" target="_blank">Contact Us</a>
                        <a href="/terms-and-conditions" target="_blank">Terms and Conditions</a>
                        <a href="/privacy-policy" target="_blank">Privacy Policy</a>
                        <a href="/cookie-policy" target="_blank">Cookie Policy</a>
                    </div>
                    <div class="footer-anchor mob-block mobile">

                        <a class="about" href="#">About Us</a>
                        <a class="terms" href="#">Terms & Conditions</a>
                        <a class="privacy" href="#">Privacy Policy</a>
                        <a class="cookie" href="#">Cookie Policy</a>

                        <div id="notification1" class="aboutnotification">
                            <div class="close1">
                            </div>
                            <div class="footercontentheading">
                                <h1>
                                    About Us
                                </h1>
                            </div>
                            <div class="footercontent">
                                <p>
                                    TopSolarQuotes.co.uk is a trading style of Pioneer Web Ltd which is registered in England and Wales, No. 07716468.<br />
                                    Registered Office: 24 Brewsters Road, Nottingham, NG3 3BP.
                                </p>
                                <p>
                                    TopSolarQuotes.co.uk is UK’s fastest growing solar panel comparison website. It is owned
                                    and operated by Pioneer Web Ltd, registered in England and Wales. Our job is to
                                    help you to choose the best possible solar panel installation service as per your
                                    demand, needs and circumstances.
                                </p>
                                <h3>
                                    What we offer
                                </h3>
                                <ul>
                                    <li>
                                        We offer a totally free and no obligation quote service based on the individual’s
                                        needs and not the solar panel installer company’s needs.
                                    </li>
                                    <li>
                                        Within this field our aim is to have a good reputation achieved by adhering to our
                                        principles and we offer a customer friendly service, always with integrity.
                                    </li>
                                    <li>Installing solar panels for your home or business is a great investment and we are here to take the hassle out of finding the best suited deal.</li>
                                    <li>
                                        We can also help educate you on Solar PV, Solar Panels, Feed in Tariff etc.
                                    </li>
                                    <li>We strive to ensure that our customers are delighted with what we provide. </li>
                                    <li>
                                        We are always confident about the quality of our work and believe in going the extra
                                        mile.
                                    </li>
                                    <li>
                                        We believe it is important to look at the bigger, sustainable picture when offering
                                        our services.
                                    </li>
                                    <li>
                                        Whether you are looking to save money by insulating your loft or generate your own
                                        electricity, we can provide you the best suited solar panel quotes based on your
                                        need and circumstances.
                                    </li>
                                    <li>
                                        You can provide us a few details and we’ll put the most trusted and experienced
                                        UK solar panel installers in touch with you, to provide a free quote. Run by a dedicated
                                        and energetic team, we very much believe in getting the job done.
                                    </li>
                                </ul>
                                <br />
                                <h3>
                                    Why compare with TopSolarQuotes.co.uk?
                                </h3>
                                <ul>
                                    <li>Our service is free and easy to use</li>
                                    <li>No obligation quotes from trusted solar installers</li>
                                    <li>Our quotes are based on your personal preference</li>
                                    <li>We respect your privacy</li>
                                    <li>Find the right energy saving solution</li>
                                    <li>Compare quotes from all over UK market </li>
                                    <li>Professional, Friendly and Hassle Free service</li>
                                    <li>We are genuine, ethical and reliable in our approach</li>
                                </ul>
                                <br />
                                <h3>
                                    How TopSolarQuotes.co.uk makes money?
                                </h3>
                                <p>
                                    We provide you a free service and our income only comes from the charges paid by the solar panel expert whom we send your queries to. This charge can be fixed or variable but will only relate to the introduction of you to the solar panel expert. Neither you or nor the solar panel expert will be charged with any further extra amount from our side. This charge can be fixed
                                    or variable but will only relate to the introduction of you to the solar panel installer.
                                    Neither you or nor the solar panel installer will be charged with any further extra
                                    amount from our side.
                                </p>
                                <p>
                                    You are under no obligation and our service is totally free of charge. You just
                                    need to provide us few details on your requirement and be rest assured that all
                                    the data collected and maintained are in accordance with the Data Protection Act
                                    1998, Registration number ZA036634.
                                </p>
                            </div>
                        </div>
                        <div id="notification1" class="termsnotification">
                            <div class="close1">
                            </div>
                            <div class="footercontentheading">
                                <h1>
                                    Terms & Conditions
                                </h1>
                            </div>
                            <div class="footercontent">
                                <h3>1. General</h3>
                                <p>
                                    Access to and use of the TopSolarQuotes.co.uk Website is subject to these Terms
                                    of Use and our Privacy Policy. By accessing and using this Website you agree to
                                    be bound to act in accordance with these Terms of Use and our Privacy Policy. If
                                    you do not agree to these Terms of Use or our Privacy Policy, you are not permitted
                                    to access and use this Website and you should cease such access and/or use immediately.
                                </p>
                                <p>
                                    By using the website, you undertake that you are aged 18 years or older.
                                </p>
                                <p>
                                    If you breach any term of these Terms of Use, your right to access and use of this
                                    Website shall cease immediately.
                                </p>
                                <p>
                                    We reserve the right to amend these Terms of Use from time to time without notice
                                    by amending this page. The amended Terms of Use will be effective from the date
                                    they are posted on the TopSolarQuotes.co.uk Website. As these Terms of Use may be
                                    amended from time to time, you should check them whenever you visit the TopSolarQuotes.co.uk
                                    Website. Your continued use of this Website will constitute your acceptance of the
                                    amended Terms of Use.
                                </p>
                                <p>
                                    TopSolarQuotes.co.uk is an online information source for Solar Panel Quotes. TopSolarQuotes.co.uk
                                    provides a free solar panel quote search service. It is owned by Pioneer Web Ltd.
                                </p>
                                <p>
                                    Alterations to these terms and conditions can be made on occasion and once published,
                                    these alterations will become immediately effective
                                </p>
                                <h3>
                                    2. Our Service
                                </h3>
                                <p>
                                    We provide an independent online service which enables you to research and compare
                                    Solar Panel products or services provided by third parties whilst using this Website.
                                    Our comparison service is free for you to use. We do not add any fees or commissions
                                    to the products or services you compare. Instead, we will introduce you to other
                                    parties who provide products or services. We are paid by charging those third party
                                    product or service providers a fee and/or commission for introductions made.
                                </p>
                                <p>
                                    Any financial information featured on the website or accessed via a link from the
                                    website is not considered to be financial advice from Pioneer Web Ltd or TopSolarQuotes.co.uk.
                                </p>
                                <p>
                                    Please be aware that nothing on this Website is, or shall be deemed to constitute,
                                    financial, investment or other advice or a recommendation or endorsement by us in
                                    respect of any product or service referred to on this Website. Information on this
                                    Website is provided for general information purposes only, should not be relied
                                    upon by you and is provided so that you can select the product or service that you
                                    feel is most appropriate to meet your needs. You should always check the suitability,
                                    adequacy and appropriateness of the product or service that is of interest to you
                                    and it is your sole decision whether to obtain or refrain from obtaining any product
                                    or service. If you are in any doubt as to the suitability, adequacy or appropriateness
                                    of any product or service referred to on this Website, we suggest that you seek
                                    independent professional advice before you obtain any product or service via this
                                    Website.
                                </p>
                                <p>
                                    Please be aware that nothing on this Website is, or shall be deemed to constitute,
                                    an offer by us or any third party to sell to you any product or service or to enter
                                    into any contract with you in respect of any product or service. By submitting your
                                    details, you are making an offer to obtain the relevant product or service from
                                    the relevant third party on its terms and conditions that may be accepted or rejected.
                                    The contract for the product or service will only be concluded once your offer has
                                    been accepted.
                                </p>
                                <p>
                                    We aim to provide uninterrupted access to this Website but we give no warranty as
                                    to the uninterrupted availability of this Website. We reserve the right to suspend,
                                    restrict or terminate your access to this Website at any time.
                                </p>
                                <p>
                                    We reserve the right to add, amend, delete, edit, remove or modify any information,
                                    content, material or data displayed on this Website and without notice from time
                                    to time.
                                </p>
                                <h3>
                                    3. Permitted use
                                </h3>
                                <p>
                                    You are only permitted to access and use this Website for your personal, non-commercial
                                    purposes, meaning this Website may only be accessed and used directly by a private
                                    individual or by a business to seek a product or service directly for that individual
                                    or business and on their own behalf. Access to and use of this Website other than
                                    for your personal, non-commercial purposes is strictly prohibited.
                                </p>
                                <p>
                                    You are not permitted to use this Website:
                                </p>
                                <ul>
                                    <li>In any unlawful, fraudulent or commercial manner.</li>
                                    <li>
                                        To harm, threaten, abuse, embarrass, defame, libel, intimidate or harass another
                                        person, or in a way that invades another person's privacy or is obscene, offensive,
                                        hateful, indecent, inappropriate, objectionable, unacceptable, discriminatory or
                                        damaging as determined by us.
                                    </li>
                                    <li>
                                        To create, check, confirm, update, modify or amend your own or another person's
                                        databases, records or directories.
                                    </li>
                                    <li>To tamper with, modify, reverse engineer or amend any part of this Website.</li>
                                    <li>
                                        In a way that interferes with, disrupts or imposes an unreasonable or disproportionately
                                        large burden on our communications and technical systems as determined by us.
                                    </li>
                                    <li>
                                        Using any automated software, process, program, robot, web crawler, spider, data
                                        mining, trawling or other 'screen scraping' software, process, program or system.
                                    </li>
                                </ul>
                                <p>
                                    You may operate a link to this Website provided you do so in a way that is fair
                                    and legal and does not damage our reputation or take advantage of it, as determined
                                    by us. You must not operate a link to this Website in such a way as to suggest or
                                    imply any form of association, approval or endorsement by us. We reserve the right
                                    to require you to immediately remove any link to this Website at any time and we
                                    may withdraw any linking permission at any time.
                                </p>
                                <h3>
                                    4. Intellectual property rights
                                </h3>
                                <p>
                                    The copyright in the information, content, material or data displayed on this Website
                                    belongs to us or our licensors. You may temporarily print, copy, download or store
                                    extracts of information, content, material or data displayed on this Website for
                                    your own personal use, subject to the following conditions:
                                </p>
                                <ul>
                                    <li>
                                        It may not be used for any commercial purposes and may not be commercially exploited,
                                        published, distributed, extracted, re-utilized or reproduced without our prior written
                                        consent.
                                    </li>
                                    <li>
                                        You may not use any automated software, process, program or system, robot, web crawler,
                                        spider, data mining, trawling or other 'screen scraping' software, process, program
                                        or system.
                                    </li>
                                    <li>It may not be sold or transferred to any third party.</li>
                                    <li>
                                        The copy must retain any copyright or other intellectual property notices contained
                                        in the original material.
                                    </li>
                                    <li>
                                        Images displayed on this Website are protected by copyright and may not be reproduced
                                        or appropriated in any manner without the prior written consent of their respective
                                        owner(s).
                                    </li>
                                    <li>
                                        No logos, trade marks or service marks displayed on this Website may be printed
                                        or downloaded, except as part of the text of which they form part.
                                    </li>
                                    <li>
                                        You must not modify the paper or digital copies of such information, content, material
                                        or data.
                                    </li>
                                    <li>
                                        It may not be excerpted, utilized, used, reproduced, published, reformatted and/or
                                        displayed on any other website without our prior written consent.
                                    </li>
                                    <li>
                                        The status of us and our licensors as the authors of such information, content,
                                        material or data must be acknowledged.
                                    </li>
                                </ul>
                                <p>
                                    All intellectual property rights including, without limitation, all copyright, design
                                    rights, patents, inventions, logos, business names, trading names, service marks
                                    and trade marks, internet domain names, moral rights, rights in databases, data,
                                    source codes, software, specifications, know how, processes and business methods
                                    (in all cases whether registered or unregistered and including all rights to apply
                                    for registration) in and relating to this Website (including information, content,
                                    material or data displayed on it) belong to us or our licensors and all such rights
                                    are reserved.
                                </p>
                                <p>
                                    Except as set out elsewhere in these Terms of Use, none of the intellectual property
                                    rights belonging to us or our licensors in and relating to this Website (including
                                    information, content, material or data displayed on it) may be used, copied, modified,
                                    published, extracted, utilised, transmitted, displayed, sold, excerpted, reverse
                                    engineered, made available, reproduced, reformatted or distributed by you without
                                    our prior written consent.
                                </p>
                                <p>
                                    All rights in TopSolarQuotes.co.uk are owned by Pioneer Web Ltd.
                                </p>
                                <p>
                                    You shall retain ownership of any views, opinions, reviews, ratings, comments, content
                                    or material you submit, display, distribute, upload, post, share, publish or otherwise
                                    make publicly available on or through this Website (User Content). You grant us
                                    a perpetual, irrevocable, transferable, worldwide, royalty free and unlimited licence
                                    to use, modify, keep, share, sell, save, copy, distribute, publish, display, excerpt,
                                    reproduce, utilise, extract, make available and transmit such User Content in any
                                    manner and for any purpose.
                                </p>
                                <p>
                                    Sections 5, 6 and 7 are important and you should read them carefully as they exclude
                                    or limit our liability to you and detail your responsibilities.
                                </p>
                                <h3>
                                    5. Limits to our liability
                                </h3>
                                <p>
                                    Nothing in these Terms of Use excludes or limits our liability for death or personal
                                    injury caused by our negligence or for our fraud or fraudulent misrepresentation.
                                </p>
                                <p>
                                    Whilst we use reasonable endeavours to ensure that information on this Website is
                                    accurate and up to date and to correct errors as soon as we are able to after becoming
                                    aware of them, we do not check, monitor, review, verify or endorse, and we are not
                                    responsible or liable for any loss or damage you may suffer or incur in connection
                                    with, any information, content, material or data collected from or provided by third
                                    parties which is displayed on or is otherwise available from this Website or any
                                    third party websites. Such information, content, material or data may be inaccurate,
                                    incomplete or out of date. It is your responsibility to check that such information,
                                    content, material or data is accurate, complete, correct and up to date.
                                </p>
                                <p>
                                    Any views, opinions, advice, reviews, ratings or comments on this Website or any
                                    third party websites which are made by third parties (including User Content if
                                    any) do not represent our views, opinions or advice, should not be relied upon by
                                    you and are not checked, monitored, reviewed, verified or endorsed by us. We are
                                    not responsible or liable for any loss or damage you may suffer or incur in connection
                                    with such views, opinions, advice, reviews, ratings or comments including in relation
                                    to their accuracy, truthfulness or completeness.
                                </p>
                                <p>
                                    We do not give any warranty or guarantee that this Website, any third party website
                                    or any information, content, material or data on this Website or any third party
                                    website is free from viruses, spyware, malicious software, trojans, worms, logic
                                    bombs or anything else which may have a contaminating, harmful or destructive effect
                                    on any technology. You must ensure that you use appropriate virus checking software.
                                    We are not responsible or liable for any loss or damage you may suffer or incur
                                    in this regard where caused by any third party.
                                </p>
                                <p>
                                    We are not responsible or liable for any loss or damage you may suffer or incur
                                    in connection with your use of this Website which is caused by any event beyond
                                    our reasonable control including the electronic transmission of information, content,
                                    material and data over the internet and the interception or decryption of it by
                                    others.
                                </p>
                                <p>
                                    We are not responsible or liable for any indirect loss or damage you may suffer
                                    or incur in connection with your use of this Website (including any loss of savings
                                    you expect to make, loss of business or business opportunity, or loss of profit
                                    or revenue) or for any loss or damage you may suffer or incur in connection with
                                    your use of this Website which was not foreseeable by us when you used this Website.
                                </p>
                                <p>
                                    We are not responsible or liable for any loss or damage you may suffer or incur
                                    in connection with any inability to access and use this Website for any reason.
                                </p>
                                <h3>
                                    6. Exclusion of our liability in respect of third party advice, assistance, websites
                                    and products or services
                                </h3>
                                <p>
                                    You can apply for a number of products and services via this Website. These products
                                    and services are not provided by us but are instead provided by third parties over
                                    whom we do not have control. It is your responsibility to satisfy yourself that
                                    you wish to obtain any product or service before doing so. We are not responsible
                                    or liable for any loss or damage you may suffer or incur in connection with any
                                    product or service you obtain after using this Website or for any acts, omissions,
                                    errors or defaults of any third party in connection with that product or service.
                                </p>
                                <p>
                                    Please be aware that the information and descriptions of products and services on
                                    this Website may not represent the complete descriptions of all the features and
                                    terms and conditions of those products and services. You must ensure that you carefully
                                    read all the features and terms and conditions of any product or service before
                                    applying for it.
                                </p>
                                <p>
                                    If you apply for and obtain any product or service, you will be contracting with
                                    a third party who will be providing that product or service to you on their own
                                    terms and conditions. It is your responsibility to ensure that you understand and
                                    agree with those terms and conditions before entering into a contract to obtain
                                    that product or service. We are not responsible or liable for any loss or damage
                                    you may suffer or incur in connection with the terms and conditions applying to
                                    any contract entered into by you with any third party in relation to any product
                                    or service or for any acts, omissions, errors or defaults of any third party in
                                    connection with those terms and conditions.
                                </p>
                                <p>
                                    We provide links from this Website and from emails sent to you as part of our service
                                    to the websites of third parties. These websites are owned and operated by third
                                    parties over whom we do not have control. You access and use these third party websites
                                    at your sole risk and your sole discretion. You are solely responsible for any use
                                    of these third party websites and for any decision to obtain or refrain from obtaining
                                    any of the products or services available on such third party websites. Any links
                                    to third party websites are provided for your interest and convenience only. We
                                    do not endorse, recommend or accept responsibility for such third parties, their
                                    products or services, their websites or for any information, opinions or views given
                                    or advice provided by such third parties (whether on their websites or otherwise).
                                    We are not responsible or liable for any loss or damage you may suffer or incur
                                    in connection with your use of any third party websites or for any acts, omissions,
                                    errors or defaults of any third party in connection with their website.
                                </p>
                                <p>
                                    Your use of any third party website will be governed by the terms and conditions
                                    of use and privacy policy applicable to that website. Such terms and conditions
                                    of use and privacy policy will be different from these Terms of Use and our Privacy
                                    Policy. It is your responsibility to ensure that you understand and agree with the
                                    terms and conditions of use and privacy policy of any third party website before
                                    using that website. We are not responsible or liable for any loss or damage you
                                    may suffer or incur in connection with the terms and conditions of use or the privacy
                                    policy applying to any third party website or for any acts, omissions, errors or
                                    defaults of any third party in connection with those terms and conditions of use
                                    and/or privacy policy.
                                </p>
                                <p>
                                    Any views, opinions, advice or assistance which is given or provided to you by a
                                    third party after you have used this Website do not represent our views, opinions,
                                    advice or assistance and are not checked, monitored, reviewed, verified or endorsed
                                    by us. We do not endorse, recommend or take responsibility for any third party who
                                    provides you with any views, opinions advice or assistance. You act or refrain from
                                    acting on any third party's views, opinions, advice or assistance at your sole risk
                                    and sole discretion and you are solely responsible for any decision to act or refrain
                                    from acting on such views, opinions, advice or assistance. We are not responsible
                                    or liable for any loss or damage you may suffer or incur in connection with such
                                    views, opinions, advice or assistance including in relation to their accuracy, truthfulness
                                    or completeness or for any acts, omissions, errors or defaults of any third party
                                    in connection with such views, opinions, advice or assistance.
                                </p>
                                <p>
                                    Please be aware that whilst this Website provides information on a wide range of
                                    products or services, there may be other products or services available on the market
                                    which are not shown on this Website and which may be more appropriate or suitable
                                    for you than those shown on this Website
                                </p>
                                <h3>
                                    7. Your responsibilities
                                </h3>
                                <p>
                                    You must take all reasonable precautions (including using appropriate virus checking
                                    software) to ensure that any information, content, material or data you provide
                                    (including User Content) is free from viruses, spyware, malicious software, Trojans,
                                    worms, logic bombs and anything else which may have a contaminating, harmful or
                                    destructive effect on any part of this Website or the websites of third parties
                                    or any other technology.
                                </p>
                                <p>
                                    You may complete a registration process as part of your use of this Website which
                                    may include the creation of a username, password and/or other identification information.
                                    Any username, password and/or other identification information must be kept confidential
                                    by you and must not be disclosed to, or shared with, anyone. Where you do disclose
                                    to or share with anyone your username, password and/or other identification information,
                                    you are solely responsible for all activities undertaken on this Website using your
                                    username, password and/or other identification information.
                                </p>
                                <p>
                                    You must check and ensure that all information, content, material or data you provide
                                    on this Website is correct, complete, accurate and not misleading and that you disclose
                                    all relevant facts. We do not accept any responsibility or liability for any loss
                                    or damage you may suffer or incur if any information, content, material or data
                                    you provide on this Website is not correct, complete and accurate or if it is misleading
                                    or if you fail to disclose all relevant facts.
                                </p>
                                <p>
                                    Before you obtain any product or service from a third party, you must check all
                                    of the information, content, material or data held by the third party about you
                                    to ensure it is correct, complete, accurate and not misleading and that you have
                                    disclosed all relevant facts. It is your responsibility to identify and correct
                                    any mistakes or errors in the information, content, material or data held by the
                                    third party about you before you obtain any product or service. Failure to do so
                                    could invalidate the product or service provided by the third party. We do not accept
                                    any responsibility or liability for any loss or damage you may suffer or incur if
                                    any information, content, material or data held by the third party about you is
                                    not correct, complete and accurate or if it is misleading or if you have failed
                                    to disclose all relevant facts.
                                </p>
                                <p>
                                    You agree that you will be liable to us for any damage, loss, claim, demand, liability
                                    or expense (including reasonable legal fees) that we may suffer or incur arising
                                    out of or in connection with your conduct on this website.
                                </p>
                                <h3>
                                    8. Complaints
                                </h3>
                                <p>
                                    Our aim is at all times to provide you with an excellent service. If you are unhappy
                                    with our service for any reason, please contact our Customer Services Team by writing
                                    to us to our email to <a href="mailto:customercare@topsolarquotes.co.uk">customercare@topsolarquotes.co.uk</a>
                                </p>
                                <p>
                                    We will aim to resolve your complaint within 48 hours. If we are not able to do
                                    so, we will provide you with an acknowledgement. After we have had an opportunity
                                    to investigate your concerns, we will issue you with a final response. If you are
                                    unhappy with any product you have obtained from a third party or have any complaint
                                    regarding any third party, you should address your complaint directly to that third
                                    party. If you require their contact details, please contact our Customer Services
                                    Team who will be happy to assist.
                                </p>
                                <h3>
                                    9. Privacy
                                </h3>
                                <p>
                                    Pioneer Web Ltd is registered with the UK Data Protection Registrar and endeavours
                                    to follow all the guidelines and rules set out in the Data Protection Act 1998.
                                </p>
                                <p>
                                    We are committed to protecting your privacy and we treat your privacy very seriously.
                                    We process information about you in line with our Privacy Policy. By using this
                                    Website, you agree to the way in which we process and deal with your personal information.
                                </p>
                                <p>
                                    We may disclose your personal information or access your account if required to
                                    do so by law, any court, the Financial Conduct Authority, the Office of Fair Trading
                                    or any other applicable regulatory, compliance, Governmental or law enforcement
                                    agency.
                                </p>
                                <h3>
                                    10. Jurisdiction for use:
                                </h3>
                                <p>
                                    This site is intended for use only by those who can access it from within the UK.
                                </p>
                                <h3>
                                    11. What we use personal data for:
                                </h3>
                                <p>
                                    We collect personal data to enable us to identify you and to deliver personalised
                                    offers and promotions based upon your demographics and product purchase profile,
                                    and for the purposes of statistical analysis.
                                </p>
                                <p>
                                    The information is used for system administration purposes and to form personalised
                                    profiles and demographics that we may use to improve the content of our communications
                                    to you. In order to collect customer use profiles, we may use cookies"" to store
                                    and track information about your use of topsolarquotes.co.uk. We will use this personalised
                                    information to keep you informed of areas in which you may have an interest. If
                                    you would prefer not to receive communications from us, please tell us by email
                                    to <a href="mailto:unsubscribe@topsolarquotes.co.uk">unsubscribe@topsolarquotes.co.uk</a>
                                </p>
                                <h3>
                                    12. Access to personal data
                                </h3>
                                <p>
                                    Under the Data Protection Act 1998 you have the right to make a request for a copy
                                    of the personal information we hold about you. We are entitled to charge an administration
                                    fee of £10 for answering your request. Please write to us in the first instance
                                    outlining your request at Pioneer Web Limited, 24 Brewsters Road, Nottingham, NG3
                                    3BP.
                                </p>
                                <h3>
                                    13. Governing law
                                </h3>
                                <p>
                                    These Terms of Use and your access to and use of this Website shall be governed
                                    by and interpreted in accordance with English law.
                                </p>
                                <p>
                                    Each of you and us submits to the exclusive jurisdiction of the courts of England
                                    and Wales in connection with these Terms of Use and your access to and use of this
                                    Website (including any claims or disputes).
                                </p>
                                <h3>
                                    14. Termination of Agreement
                                </h3>
                                <p>
                                    Should any of the terms and conditions stated be breached, Pioneer Web Ltd or TopSolarQuotes.co.uk
                                    has the right to terminate the agreement and immediately remove, cancel or suspend
                                    access to and use of the website. All disclaimers, indemnities and exclusions stated
                                    within these terms and conditions shall survive termination of the agreement between
                                    us for any reason.
                                </p>
                                <p>
                                    All disclaimers, indemnities and exclusions stated within these terms and conditions
                                    shall survive termination of the agreement between us for any reason.
                                </p>
                                <p>
                                    Pioneer Web Ltd or TopSolarQuotes.co.uk is not liable for failure to undertake any
                                    obligation under this agreement if failure results from events out of its control,
                                    including without limitation Internet/telecoms outages, fire, flood, war.
                                </p>
                            </div>
                        </div>
                        <div id="notification1" class="privacynotification">
                            <div class="close1">
                            </div>
                            <div class="footercontentheading">
                                <h1>
                                    Privacy Policy
                                </h1>
                            </div>
                            <div class="footercontent">
                                <p>
                                    We take the protection of your personal data very seriously. This section explains
                                    what information we collect from you, what we do with it, how we keep it secure
                                    and the circumstances upon which we provide it to third parties. If you have any
                                    questions, comments or requests regarding this Privacy Policy please contact our
                                    customer services Team via email at <a href="mailto:customercare@topsolarquotes.co.uk">customercare@topsolarquotes.co.uk.</a>
                                </p>
                                <p>
                                    By using this site, you are giving us permission to use the data you provide us
                                    in the ways set out in this privacy policy.
                                </p>
                                <p>
                                    Information about you will not be collected unless you choose to give it to TopSolarQuotes.co.uk
                                    or Pioneer Web Ltd.
                                </p>
                                <p>
                                    If you do not want Pioneer Web Ltd or TopSolarQuotes.co.uk to collect/process personal
                                    or financial information, please do not submit it. If you believe any personal or
                                    financial information to be incorrect, contact Pioneer Web Ltd or TopSolarQuotes.co.uk
                                    and the information shall be immediately corrected or removed from the database
                                    on your request.
                                </p>
                                <h3>
                                    Information that we collect from you:
                                </h3>
                                <p>
                                    To take advantage of our services, you might be required to provide us with certain
                                    information about yourself. This may include doing things such as registering your
                                    contact details or completing certain forms on our website. You may also be asked
                                    to provide us with information about yourself if you wish to contact us for any
                                    reason. We also collect details of your visit to our website and your use of it.
                                </p>
                                <h3>
                                    Sensitive personal data:
                                </h3>
                                <p>
                                    The nature of our business is such that we may also on occasion ask you to provide
                                    sensitive personal data as defined in the Data Protection Act 1998. By proceeding
                                    with obtaining a quote, we will take that as your explicit consent to such information
                                    being processed by ourselves and the relevant third party service providers.
                                </p>
                                <h3>
                                    Use of cookies:
                                </h3>
                                <p>
                                    We may also collect information about your computer, including where available your
                                    IP address, operating system and browser type using a cookie file which is stored
                                    in the hard drive of your computer. Cookies help us to improve our website and deliver
                                    a better and more personalised service to you. They enable us to:
                                </p>
                                <ul>
                                    <li>
                                        Personalise your experience on our website, speed up your searches and help us select
                                        services or materials for inclusion on the website which may be of interest to you.
                                    </li>
                                    <li>
                                        Monitor general traffic patterns and usage of our website to help us to improve
                                        our website design and layout.
                                    </li>
                                </ul>
                                <p>
                                    Most browsers accept cookies automatically, but usually you can alter the settings
                                    of your browser to prevent automatic acceptance. If you choose not to receive cookies,
                                    you may not be able to use certain features of our website.
                                </p>
                                <p>
                                    The information that is collected by us via cookies is completely anonymous.
                                </p>
                                <h3>
                                    How will we use your data?
                                </h3>
                                <p>
                                    We (or third parties acting on our behalf) may use your personal information in
                                    the following ways:
                                </p>
                                <ul>
                                    <li>
                                        to provide you with the information, products or services that you request from
                                        us and/or.
                                    </li>
                                    <li>
                                        to allow you to participate in interactive features of our service when you choose
                                        to do so; and/or.
                                    </li>
                                    <li>
                                        to contact you by letter, telephone or e-mail to inform you about other products
                                        and services which may be of interest to you; and/or
                                    </li>
                                    <li>
                                        notify you of our news, changes to the website, special events or other services
                                        we think may interest you.
                                    </li>
                                </ul>
                                <p>
                                    We will also disclose your personal information to third parties who provide the
                                    products/ services that you have enquired about via our website.
                                </p>
                                <p>
                                    We also may need to disclose your personal information where it is necessary to
                                    comply with any applicable laws or to protect ourselves or our users (including
                                    exchanging information with other companies for the purposes of fraud protection),
                                    or in the event that we sell our business, in which case we may disclose your personal
                                    data to the prospective buyer of our business.
                                </p>
                                <h3>
                                    How do we store your personal information and keep it secure?
                                </h3>
                                <p>
                                    As required by the Data Protection Act 1998, we follow strict security procedures
                                    in the storage and disclosure of personal information which you have provided via
                                    this website, to prevent unauthorized access. We shall take all reasonable steps
                                    to ensure your personal details remain secure. The personal information that we
                                    collect from you may also be transferred to and stored outside of the European Economic
                                    Area.
                                </p>
                                <h3>
                                    Your Rights:
                                </h3>
                                <p>
                                    If you do not agree to the privacy policy then you should not enter any of your
                                    personal information on our website. If at any time after you have provided personal
                                    information to us and you want to object to your personal data being used by us,
                                    you need to let us know by either contacting our customer services team at our address
                                    given above or by sending an email to us at <a href="mailto:unsubscribe@topsolarquotes.co.uk">unsubscribe@topsolarquotes.co.uk.</a> We will
                                    endeavour to process your request as soon as possible, but in some cases it may
                                    take us up to 28 days to process your request. You may request a copy of the information
                                    we hold about you. We will be happy to provide you with such information upon request
                                    and the payment of £10 in order to cover our administrative expenses in relation
                                    to your request.
                                </p>
                                <p>
                                    Our privacy policy applies solely to information collected by us through our website.
                                    Please note that we are not responsible for what any third party content provider
                                    or other third party offering goods and services via websites or linked to or framed
                                    around our website may do with any personal information that you may provide them.
                                    Accordingly, please ensure that you also read their data protection and privacy
                                    terms and conditions very carefully before providing them with your personal information.
                                </p>
                                <p>
                                    Any failure on our part to enforce any right will not constitute a waiver of such
                                    rights.
                                </p>
                                <p>
                                    These terms and conditions replace any previous terms and conditions regarding the
                                    use of our website.
                                </p>
                                <p>
                                    These terms and conditions are subject to English law and the exclusive jurisdiction
                                    of the English courts.
                                </p>
                                <p>
                                    If you have any questions about these terms and conditions or have a general query
                                    about the services that we provide, please get in touch.
                                </p>
                            </div>
                        </div>
                        <div id="notification1" class="cookienotification">
                            <div class="close1">
                            </div>
                            <div class="footercontentheading">
                                <h1>
                                    Cookie Policy
                                </h1>
                            </div>
                            <div class="footercontent">
                                <p>
                                    Helping our customers is our ultimate aim and protecting customers’ information
                                    is our highest priority. This means that any cookies used on our sites will not
                                    contain personally identifiable information about you. However, we use cookies on
                                    our websites to facilitate your visits with more effective manner.
                                </p>
                                <h3>
                                    What are cookies?
                                </h3>
                                <p>
                                    A cookie is a small amount of data, which often includes a unique identifier that
                                    is sent to your computer, tablet or mobile phone (referred to here as a "device")
                                    browser from a website's computer and is stored on your device's hard drive. Each
                                    website can send its own cookie to your browser if your browser's preferences allow
                                    it, but (to protect your privacy) your browser only permits a website to access
                                    the cookies it has already sent to you, not the cookies sent to you by other websites.
                                    Many websites do this whenever a user visits their website in order to track online
                                    traffic flows. To find out more about cookies in general, please visit <a href="http://www.allaboutcookies.org." target="_blank"> http://www.allaboutcookies.org.</a>
                                </p>
                                <p>
                                    Cookies cannot carry viruses, and cannot install malware on the host computer and
                                    will not harm your computer. We do, however, use encrypted information to help improve
                                    your experience of our website. Enabling cookies from our site is safe. Cookies
                                    are like yellow sticky notes. We use them to help us remember your last map location,
                                    so that you can carry on where you left off in your next visit. This saves you having
                                    to pan and zoom unnecessarily as you can return to the exact same spot.
                                </p>
                                <p>
                                    Cookies used on our sites could be classified into three categories:
                                </p>
                                <b>Session cookies</b>
                                <p>
                                    These are used to maintain something called session state. These cookies are created
                                    when a visitor first lands on the site and destroyed when the visitor leaves the
                                    site. Session cookies are required for the website to function but are not used
                                    in any way to identify you personally.
                                </p>
                                <b>Permanent cookies (persistent cookies)</b>
                                <p>
                                    When you visit our website, we will assign a permanent cookie on the hard drive
                                    of your computer. You can view these by looking in the cookies directory of your
                                    browser installation. These cookies generally have a life time and are automatically
                                    destroyed on reaching their expiry time. The aim is to enhance your experience whilst
                                    on the website and make sure you don’t miss out on great offers. Cookies do not
                                    contain any personal Information for example, your name, address, email address,
                                    or telephone number, but simply a unique identification number that identifies your
                                    computer to us.
                                </p>
                                <b>Third party cookies</b>
                                <p>
                                    Certain cookies are either set by third parties on the Website or these are set
                                    by us using the third parties cookie code. We use Google analytics to collect information
                                    about how visitors use our site. We use the information to compile reports and to
                                    help us improve the site. The cookies collect information in an anonymous form,
                                    including the number of visitors to the site, where visitors have come to the site
                                    from and the pages they visited. More information about Google analytics and how
                                    to restrict or block their cookies can be accessed by following this link <a href="http://www.google.co.uk/intl/en/analytics/privacyoverview.html" target="_blank">http://www.google.co.uk/intl/en/analytics/privacyoverview.html.</a>
                                </p>
                                <h3>
                                    Opting out
                                </h3>
                                <p>
                                    Although you cannot block "session" cookies as they are required for our website
                                    to function correctly you can configure your Internet browser so that it can reject
                                    both "permanent" and "third party" cookies. How you do this will depend upon the
                                    Internet browser you use. Please follow this link <a href="http://www.aboutcookies.org/Default.aspx?page=1" target="_blank">http://www.aboutcookies.org/Default.aspx?page=1.</a>
                                    to get detailed instructions on disabling cookies based on your browser version.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">

                        <p class="footer-copy">
                            Copyright 2011-2017 © www.topsolarquotes.co.uk. All rights reserved.
                        </p>
                        <p class="footer-copy">
                            TopSolarQuotes.co.uk and the logo are registered trademarks of Pioneer Web Ltd.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*footer end*@
    <script src="/bundles/jquery?v=FVs3ACwOLIVInrAl5sdzR2jrCDmVOWFbZMY6g6Q0ulE1"></script>

    <script src="/bundles/jqueryval?v=gKSvW0CstQBBeRmOvobZCxEhRxLjg2JbaDxDuUqbxyo1"></script>

    <script src="/bundles/bootstrap?v=2Fz3B0iizV2NnnamQFrx-NbYJNTFeBJ2GM05SilbtQU1"></script>

    <script src="/Content/Popup/PopupScript.js" type="text/javascript"></script>


</body>
</html>


