
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="overlay">
</div>
<div class="top">
    <div class="container">
        <div class="container-fluid">
            <div class="col-md-4 mob-hide">
                <div class="row top-row">
                    <div class="col-lg-9 thank-left-area">
                        <h2>Thank You <span style="color: #fe5e00;">Mr./Mrs./Miss</span></h2>
                        <hr />
                        <p>
                            <span style="color: #0092dd; font-weight: bold; font-size: 14px;">
                                Thank You For Requesting a Quote from TopSolar.co.uk
                            </span>

                        </p>
                        <p>
                            We Have Already started searching for the top solar panel quotes for you based on the details you have provided. One of the MCS accredited solar panel installers would get in touch with you shortly to provide you with one or two more options based on your circumstances.

                        </p>
                        <ul>
                            <li><i class="fa fa-check-square"></i>Please note that you are under no obligation and its completely free service.</li>
                            <li><i class="fa fa-check-square"></i>Based on your details, you have provided you might be eligible for the best deals.</li>
                            <li><i class="fa fa-check-square"></i>Thank YOu For Choosing TopSolar.co.uk</li>

                        </ul>
                        </div>
                        <div class="col-lg-3 thank-right-area">
                            <img src="~/Content/images/733a52fe-906a-11e1-aa07-782bcbaf0a2f.jpg" />
                       </div>
                </div>
                <div class="col-lg-9 thank-left-area">
                    <h2>What Happen Next?</h2>

                    <p>Confirm Details->Choose Option->Go Ahead </p>
                    <ul>
                        <li><i class="fa fa-check"></i>After Confirming your details our System will locate the installers available in your area.</li>
                        <li><i class="fa fa-check"></i>Next we will provide you the best Solar Option Depending upon the request and your requirement.</li>
                        <li><i class="fa fa-check"></i>Don't Worry Its all free ,no-obligations and we will provide quote from multiple installers suited your needs.You will receive a confirmation by email and arrange an appointment to quote with the installers and choose the best.</li>
                    </ul>

            </div>
        </div>
    </div>
</div>
</div>

